:root {
  --sidebar-colour: #1f1f1f;
  --page-colour: #17191d;
  --page-colour-translucent: #17191dc0;
  --text-colour: azure;
  --sidebar-width: 240px;
  --accent-lugano-blue: #3864b4;
  --accent-firmament-blue: #192a55;
}

.app {
  /* text-align: center; */
  /* background-color:#282c34; */
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-text {
  color: azure;
}

.special-text {
  transition: 500ms;
}

.special-text:hover {
  color: var(--accent-lugano-blue)
}

.hidden-text {
  opacity: 0;
  transition: 500ms;
}

.hidden-text:hover {
  opacity: 1;
}


.prevent-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.app {
  /* display: flex; */
  min-height: 100vh;
}

.content {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  background-color: var(--page-colour);
  color: var(--text-colour);
}

.content-section {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Used for <hr />*/
.content-divider {
  margin-left: 50px;
  width: calc(80vw - 50px);
  height: 4px;
  border: none;
  background-color: #282c34;
}